<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

   
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Joseph Lee</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">About-Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Projects">Projects</a>
              </li>
          
            </ul>
          </div>
        </div>
      </nav>
    <div class="container">
  <div class="row">
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="https://tse1.mm.bing.net/th?id=OIP.6jI1iBZOOI9niiQXGIUeMwAAAA&pid=Api&P=0&w=300&h=300" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Resume Portfolio</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto ab laborum excepturi ex consequuntur recusandae 
                  deserunt vitae odio qui quaerat reprehenderit, id quis, quibusdam debitis eum eaque ut. Fugiat, blanditiis!</p>
              <a href="https://github.com/josephlee3454/resume-portfolio-2" class="btn btn-primary">Git hub</a>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="https://geekbrains-uploads.s3.amazonaws.com/courses/images/000/000/082/original/python_django.png?1464950119" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Penny-pinchers</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi rem repudiandae saepe! Voluptates unde, odit 
                  possimus autem consequatur aspernatur minima ipsum, nesciunt enim iusto cumque voluptatibus in, rerum voluptate?</p>
              <a href="https://github.com/401n1-midterm/penny-pincher" class="btn btn-primary">Git hub</a>
            </div>
          </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img src="https://i.ytimg.com/vi/oERXo1PQtWY/maxresdefault.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Caller app</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, officiis voluptas porro facilis dolores officia! 
                Ad alias dolore, esse aspernatur ullam ea quisquam architecto minus asperiores assumenda nulla facere laboriosam?</p>
              <a href="https://github.com/slow-and-serious/caller-app" class="btn btn-primary">Git hub</a>
            </div>
          </div>
    </div>
  </div>
</div>
</body>
</html>